<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warsaw Rental Car</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>


<!-- ### HEADER ### -->
<header>
    <nav>

        <div class="nav-left">
            <button class="burger-menu">&#9776;</button>
            <div class="logo">
                <span class="logo-title">WARSAW</span>
                <span class="logo-subtitle">RENTAL CAR</span>
            </div>
        </div>

        <div class="nav-right">
            <a href="tel:+48123456789">+48 (123) 456-78-90</a>
            <div class="lang">
                <a href="#">pl</a>
                <a href="#">ru</a>
                <a href="#" class="active">en</a>
            </div>
            <div class="social-media">
                <a href="#" class="social-icon telegram" target="_blank"></a>
                <a href="#" class="social-icon instagram" target="_blank"></a>
            </div>
        </div>
    </nav>

    <div class="hero">
        <h1>CAR RENTAL IN WARSAW</h1>
        <p>Just <span class="accent">pick your car</span> and drive away now!</p>
    </div>
</header>


<!--### MAIN CONTENT ### -->
<h1>Rental Car in Warsaw for taxi of personal use</h1>
<p>Warsaw Rental Car – your personal ride anywhere, good cars, better deals.</p>



<h2>Available Cars</h2>

<h3>Popular Cars</h3>


<h3>See all cars</h3>

<div>
    <h3>Filters</h3>
    <h4>Chose class type of car</h4>
    <p>Economy class</p>
    <p>Middle class</p>
    <p>Premium class</p>
    <p>Electric cars</p>


</div>

<div>
    <h5>Select transmission type:</h5>
    <p>Automatic</p>
    <p>Manual</p>
</div>


<div class="Car_type_choice">
    <h4 style="width: 100%; text-align: center;">Choose your type of car</h4>
    <div id="Economy_class_choice" class="car-card"><span>Economy class</span></div>
    <div id="Middle_class_choice" class="car-card"><span>Middle class</span></div>
    <div id="Business_class_choice" class="car-card"><span>Business class</span></div>
    <div id="Premium_class_choice" class="car-card"><span>Premium class</span></div>
    <div id="Electric_cars_choice" class="car-card"><span>Electric class</span></div>
</div>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer velit lacus, aliquet in arcu nec,
    aliquam rhoncus tellus. Aenean fringilla dolor nec diam consequat, sit amet porttitor augue pharetra.
    Integer felis erat, fringilla sed enim at, pellentesque porttitor sapien. Morbi malesuada dictum diam
    id viverra. Donec nulla enim, maximus at quam sit amet, congue placerat risus.
</p>

<p>
    Praesent risus diam, tristique vitae eros mollis, efficitur auctor nibh. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas. Proin aliquam aliquam dapibus.
    Donec auctor rutrum lacus, vitae tristique justo bibendum non. Nam venenatis nibh ante, in aliquam
    purus eleifend vel.
</p>

<p>
    Curabitur iaculis urna arcu, nec tincidunt mauris hendrerit vitae. Mauris quis vestibulum velit,
    sed egestas orci. Praesent vel urna sagittis, pellentesque enim eu, rutrum neque. Donec consequat
    erat massa, id vehicula augue tempus id.
</p>

<p>
    Duis vitae blandit mi. Phasellus sodales leo varius viverra consequat. Sed eget vulputate orci,
    in tincidunt dui. Cras vel tristique nulla. Integer vehicula molestie leo, quis vulputate lacus
    pharetra sit amet.
</p>

<p>
    Vivamus sed luctus massa. Etiam nec felis tortor. In id diam sit amet felis elementum luctus tempor
    scelerisque nulla. Aliquam porta id augue a dictum. Mauris id ipsum elit. Quisque eget est ac felis
    ultrices viverra vitae eu lectus.
</p>

</body>
